<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BitBase Membership</title>
    <link rel="stylesheet" href="/resources/style.css" />
  </head>
  <body>
    <header>
      <a href="/"><h1>BITBASE</h1></a>
    </header>
    <hr width="100%" />
    <div class="mainPage">
      <div class="error">404 - File Not Found</div>
      <p>Please return to the web form by clicking 'BITBASE' at the top.</p>
    </div>
  </body>
</html>